{
  "ecmaVersion": 6,
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "extends": "eslint:recommended",
  "rules": {
    "array-bracket-spacing": [1, "never"],
    "arrow-body-style": [1, "as-needed"],
    "arrow-spacing": 1,
    "block-spacing": [1, "always"],
    "brace-style": [1, "1tbs", { "allowSingleLine": false }],
    "camelcase": [2, { "properties": "always" }],
    "comma-spacing": 1,
    "comma-style": [1, "last"],
    "computed-property-spacing": [2, "never"],
    "consistent-return": 2,
    "consistent-this": [2, "that"],
    "constructor-super": 2,
    "curly": 2,
    "default-case": 1,
    "dot-location": [1, "property"],
    "eol-last": 1,
    "eqeqeq": 2,
    "guard-for-in": 1,
    "indent": [1, 2, { "SwitchCase": 1 }],
    "jsx-quotes": [1, "prefer-single"],
    "key-spacing": [1, { "beforeColon": false, "afterColon": true , "mode": "strict" }],
    "keyword-spacing": 1,
    "linebreak-style": [2, "unix"],
    "new-parens": 2,
    "no-alert": 1,
    "no-array-constructor": 1,
    "no-caller": 2,
    "no-case-declarations": 1,
    "no-catch-shadow": 1,
    "no-class-assign": 2,
    "no-confusing-arrow": [2, { "allowParens": true }],
    "no-const-assign": 2,
    "no-dupe-class-members": 2,
    "no-empty-pattern": 1,
    "no-eval": 2,
    "no-extra-bind": 1,
    "no-fallthrough": 2,
    "no-floating-decimal": 1,
    "no-implicit-coercion": [1, { "boolean": false }],
    "no-implied-eval": 2,
    "no-invalid-this": 2,
    "no-iterator": 2,
    "no-label-var": 1,
    "no-lonely-if": 1,
    "no-lone-blocks": 1,
    "no-multiple-empty-lines": [1, { "max": 1 }],
    "no-multi-spaces": 1,
    "no-multi-str": 1,
    "no-native-reassign": 2,
    "no-new-func": 2,
    "no-new-object": 1,
    "no-new-wrappers": 2,
    "no-new": 1,
    "no-param-reassign": 1,
    "no-proto": 2,
    "no-redeclare": 1,
    "no-return-assign": 2,
    "no-script-url": 2,
    "no-self-compare": 1,
    "no-sequences": 2,
    "no-shadow-restricted-names": 2,
    "no-shadow": [1, { "allow": ["cb", "done", "err"] }],
    "no-spaced-func": 1,
    "no-this-before-super": 2,
    "no-throw-literal": 2,
    "no-trailing-spaces": [2, { "skipBlankLines": false }],
    "no-unneeded-ternary": [1, { "defaultAssignment": true }],
    "no-unused-expressions": 1,
    "no-useless-call": 1,
    "no-useless-concat": 1,
    "no-use-before-define": [2, "nofunc"],
    "no-var": 2,
    "no-void": 2,
    "no-with": 2,
    "object-curly-spacing": [1, "always"],
    "object-shorthand": 1,
    "padded-blocks": [1, "never"],
    "prefer-arrow-callback": 1,
    "prefer-const": 1,
    "prefer-reflect": 1,
    "prefer-spread": 1,
    "prefer-template": 1,
    "radix": 1,
    "require-yield": 2,
    "quotes": [1, "single", "avoid-escape"],
    "semi-spacing": [1, { "before": false, "after": true }],
    "semi": [1, "never"],
    "space-before-blocks": 1,
    "space-before-function-paren": [1, { "anonymous": "always", "named": "never" }],
    "space-in-parens": [1, "never"],
    "space-infix-ops": [1, { "int32Hint": true }],
    "space-unary-ops": 1,
    "spaced-comment": [1, "always"],
    "strict": [2, "safe"],
    "vars-on-top": 1,
    "wrap-iife": [2, "inside"],
    "yoda": 2,
    "babel/generator-star-spacing": 1,
    "babel/new-cap": 1,
    "babel/object-shorthand": 1,
    "babel/arrow-parens": [1, "as-needed"],
    "babel/no-await-in-loop": 1,
    "react/display-name": [2, { "ignoreTranspilerName": false }],
    "react/forbid-prop-types": 1,
    "react/jsx-boolean-value": 1,
    "react/jsx-closing-bracket-location": [1, { "nonEmpty": "tag-aligned", "selfClosing": "after-props" }],
    "react/jsx-curly-spacing": [1, "never"],
    "react/jsx-handler-names": 1,
    "react/jsx-indent-props": [1, 2],
    "react/jsx-indent": [1, 2],
    "react/jsx-key": 2,
    "react/jsx-no-duplicate-props": 2,
    "react/jsx-no-undef": 2,
    "react/jsx-pascal-case": 2,
    "react/jsx-space-before-closing": 1,
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/no-deprecated": 1,
    "react/no-did-mount-set-state": 2,
    "react/no-did-update-set-state": 2,
    "react/no-direct-mutation-state": 2,
    "react/no-is-mounted": 2,
    "react/no-string-refs": 1,
    "react/no-unknown-property": 1,
    "react/prefer-es6-class": 2,
    "react/prop-types": 2,
    "react/react-in-jsx-scope": 2,
    "react/self-closing-comp": 1,
    "react/wrap-multilines": 1
  },
  "plugins": [
    "babel",
    "react"
  ]
}
